<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">

  <body>
  	<div class="nftWrap">
	    <img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft1.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft2.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft3.png}"/>	
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft4.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft5.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft6.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft7.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft8.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
		<img src="../static/resources/images/pets.png" th:src="@{/resources/images/nft9.png}"/>
  	</div>
  </body>

</html>