<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
	<meta charset="UTF-8">
	<title>Insert Coin</title>

</head>

<body>

	<div class="mainContents">
		<h1 style="color:azure; margin-top:10px; margin-bottom:40px; font-size:30px;"> 가장 안전한 디지털 자산 거래소 </h1>
		<img style="width:100%;" class="img" src="../static/resources/images/pets.png"
				th:src="@{/resources/images/ABC logo-02.png}" />
		<button style="margin-top: 85px; font-size: 20px; color: rgb(45, 45, 45); width: 150px; font-weight:bold;" 
		type="button" class="btn btn-warning">둘러보기</button>
		</div>
	</div>
	
	
	
</body>

</html>